<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paginations</title>
    <style>
        .container {
            margin-left: 650px;
            margin-top: 200px;
            /* margin-right: auto; */
            /* display: flex ; */
            /* justify-content: center;
            align-items: center; */
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1><a href="/pagination_1">pagination_1</a></h1>
        </div>
        <br>
        <div>
            <h1><a href="/pagination_2">pagination_2</a></h1>
        </div>
        <br>
        <div>
            <h1><a href="/pagination_3">pagination_3</a></h1>
        </div>

    </div>
</body>

</html>