<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add language</title>

</head>
<body> 
        <h1 style="text-align: center;" >edite language</h1>
    <fieldset style="text-align: center;" id="language_known">
      <legend>Language Known</legend>
        <form action="/language/add/<%=id%>" onsubmit="return error()" method="post">
      <!-- Row 1: Gujarati -->
      <div class="form-group">
        <label id="language_name" >language_name: </label>
        <input  name="language_name" id="language_name" type="text" >
                <p style="color: red;" id="e_language_name" class="error-msg"></p>

          <div style="margin-top: 10px;" id="gujarati_container" >
            <label><input type="checkbox" name="can_read"   > Read</label>
        <label><input type="checkbox" name="can_write"    > Write</label>
        <label><input type="checkbox" name="can_speak"   > Speak</label>
          </div>

        <p style="color: red;" id="e_skill" class="error-msg"></p>
      </div>
      <div class="form-group">
        <input type="submit" value="ADD">
      </div>
</form>
      <!-- Row 2: Hindi -->
      <!-- <div class="form-group">
        <label><input onclick="document.getElementById('hindi_container').style.display='block'" type="checkbox" name="language[]" value="hindi"> Hindi</label>
        <div id="hindi_container" style="display: none; margin-top: 10px;">
          <label><input type="checkbox" name="hindi_skill[]"> Read</label>
        <label><input type="checkbox" name="hindi_skill[]"> Write</label>
        <label><input type="checkbox" name="hindi_skill[]"> Speak</label>
        </div>
        <p id="e_hindi" class="error-msg"></p>
      </div> -->

      <!-- Row 3: English -->
      <!-- <div class="form-group">
        <label><input onclick="document.getElementById('eng_container').style.display='block'" type="checkbox" name="language[]" value="english"> English</label>
        <div id="eng_container" style="display: none; margin-top: 10px;">
          <label><input type="checkbox" name="eng_skill[]"> Read</label>
        <label><input type="checkbox" name="eng_skill[]"> Write</label>
        <label><input type="checkbox" name="eng_skill[]"> Speak</label>
        </div>
        <p id="e_english" class="error-msg"></p>
      </div> -->
    </fieldset>
    <script>
        function error(){
            let invalid=true;
            document.getElementById('e_language_name').innerHTML=''
            document.getElementById('e_skill').innerHTML=''


         
        let language_name=document.getElementsByName('language_name')[0].value.trim();    
        let can_read=document.getElementsByName('can_read')[0].checked;
        let can_write=document.getElementsByName('can_write')[0].checked;
        let can_speak=document.getElementsByName('can_speak')[0].checked;
         
        if(language_name===''){
            document.getElementById('e_language_name').innerHTML='language name is require'
            invalid=false;

        }
        if(!can_read && !can_speak && !can_write){
            document.getElementById('e_skill').innerHTML='please select at least on language level'
            invalid= false
        }
        return invalid;

    }

    </script>
</body>
</html>