<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>master page</title>
    <style>
        .container {
            display: grid;

            grid-template-columns: 1fr 1fr;

            grid-template-areas: "left  right";
            gap: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 300px;

        }
    </style>
</head>

<body>
   
    <div class="container" style="border: 1px solid black;">
        <div class="left">
            <h1><a href="/cucucube">cucucube</a></h1>
            <h1><a href="/traffic_signal">traffic_signla_assignment</a></h1>

        </div>

        <div class="right">
            <h1><a href="/job_application">job_application</a></h1>
            <h1><a href="/pracrice_table">pracrice_table</a></h1>


        </div>
    </div>

</body>

</html>