<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>head</title>
    <style>
      .container{
            /* display: flex; */
            /* align-items: center;
            justify-content: center; */
        }
        table,th{
           /* text-align: center;
            border-collapse: collapse; */
           
        }
        tr:hover{
             background-color: rgb(169, 183, 234);
            color: white;
        }
        /* th,td{
            border-bottom: 1px solid black;
            height: 30px
        } */
        table{
            width: 100%;
        }
       
        .sidenav{
            height: 100%;
            width: 200px;
            background-color: rgb(169, 183, 234);
            position: fixed;
            top: 0;
            left: 0;
            text-align: center;
            padding-top: 100px;
           

        }
        .main{
            margin-left: 220px;
            
        }
        a{
            text-decoration: none;
            margin-top: 20px;
        }
        .btn{
            margin-bottom: 20px;
            border: 1px solid white;
            background-color: white;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="sidenav">
        <div class="btn">
            
            <a href="/">Basic_detail</a>
        </div>
          <div class="btn">
            
            <a href="/address">Address</a>
        </div>
          <div class="btn">
            
            <a href="/eduction">Eduction detail</a>
        </div>

         <div class="btn">
            
            <a href="/experience">Work experience</a>
        </div>
          <div class="btn">
            
            <a href="/language">Language</a>
        </div>
          <div class="btn">
            
            <a href="/technology">Technology</a>
        </div>

         <div class="btn">
            
            <a href="/references">References</a>
        </div>
          <div class="btn">
            
            <a href="/preferences">Prefernces</a>
        </div>

        <!-- <div class="btn">
            
            <a href="/update/form">update Data</a>
        </div> -->
        <div style="margin-top: 200px; background-color: red; color: white;" >
            <a style="color: white;" href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>