<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file hendling</title>
</head>
<body>
    <div class="container">
        <form action="/add" method="post" enctype="multipart/form-data">
            <label for="">Name</label>
            <input type="text" name="name" id="">
            <label for="">choose file</label>
            <input type="file" name="resume">

            <input type="submit">
            <input type="reset">
        </form>
    </div>
</body>
</html>